@use 'src/scss/core' as *;

img {
  width: 16px;
  height: 16px;
}

.logo {
  margin-right: 10px;
}

.metamask {
  margin-left: 10px;
}

p {
  display: flex;
  align-items: center;
  margin-top: 0;

  @include b($mobile-md-minus) {
    flex-direction: column;
    align-items: flex-start;
  }
}

span {
  display: flex;
  align-items: center;

  cursor: pointer;
}
