<app-dropdown-selector
  (opened)="getDropdownStatus($event)"
  [dropdownButtonTemplate]="dropdownButtonTemplate"
  [dropdownOptionsTemplates]="dropdownItems"
></app-dropdown-selector>

<ng-template #dropdownButtonTemplate>
  <div class="user-profile">
    <div class="user-profile__chain-icon" *ngIf="currentBlockchainIcon">
      <img [src]="currentBlockchainIcon" [alt]="currentBlockchainName" width="25" height="25" />
    </div>

    <div *ngLet="(currentUser$ | async)?.address as userAddress" class="user-profile__address">
      {{ userAddress.length > 20 ? (userAddress | shortAddress: 5:3) : userAddress }}
    </div>

    <img src="assets/images/icons/arrow-down.svg" width="11" height="7" alt="Dropdown arrow" />
  </div>
</ng-template>

<ng-template #dropdownOptionTemplate>
  <a class="user-profile__dropdown-item" href="https://app.rubic.exchange/promotion">
    {{ 'navigation.promotion' | translate }}
  </a>
</ng-template>

<ng-template #dropdownOptionTemplate>
  <button class="user-profile__dropdown-item user-profile__logout" (click)="logout()">
    {{ 'navigation.logout' | translate }}
  </button>
</ng-template>
