:host {
  display: flex;
  justify-content: center;
}

.merkle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

app-airdrop-address {
  margin-top: 20px;
}

app-claim-button {
  margin-top: 20px;
}
