@use 'src/scss/core' as *;

:host {
  display: flex;
  justify-content: center;
}

.merkle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;

  @include b($mobile-md-minus) {
    max-width: 100%;
  }
}

app-airdrop-address {
  margin-top: 20px;
}

app-claim-button {
  margin-top: 20px;
}

app-rubic-token {
  @include b($mobile-md-minus) {
    width: 100%;
  }
}
