<header class="rubic-header">
  <a class="rubic-header__logo" href="https://app.rubic.exchange">
    <img
      [src]="
        (isDarkTheme$ | async)
          ? 'assets/images/rubic-logo.svg'
          : 'assets/images/rubic-logo-dark.svg'
      "
      alt="Rubic logotype"
      width="122"
      height="39"
    />
  </a>

  <app-rubic-menu
    class="rubic-header__menu"
    [swapActive]="false"
    [crossChainActive]="false"
    (swapClick)="navigateToSwaps()"
  ></app-rubic-menu>

  <nav class="rubic-header__nav">
    <a class="button-link" (click)="navigateToSwaps()" [class.button-link_active]="false">Swaps</a>
    <a
      class="button-link"
      href="https://app.rubic.exchange/staking"
      routerLinkActive="button-link_active"
    >
      {{ 'navigation.stakingLp' | translate }}
    </a>
  </nav>

  <app-buy-token class="rubic-header__buy-token" [tokensType]="advertisementType"></app-buy-token>

  <div class="rubic-header__profile">
    <ng-container *ngIf="!(currentUser$ | async)?.address; else loggedIn">
      <app-login-button class="rubic-header__login"></app-login-button>
    </ng-container>
    <ng-template #loggedIn>
      <app-user-profile class="rubic-header__profile-user"></app-user-profile>
    </ng-template>

    <app-settings></app-settings>
  </div>
</header>
